@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdimnLayout";
}
@model List<Item>

<a class="btn btn-secondary mb-3" asp-action="AddItem" asp-controller="Item">Add New Item</a>

<table class="table table-secondary text-center" style="color: black;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>In Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Type</td>
                <td>@item.Price</td>
                <td>@item.InStock</td>
                <td><a class="btn btn-warning" asp-action="Edit" asp-controller="Item" asp-route-id="@item.Id">Edit</a></td>
                <td>
                    <button type="button" class="order-btn btn  btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-rowid="@item.Id">
                    Delete
                    </button>
                </td>

            </tr>
        }
    </tbody>
</table>

@*<!-- Button trigger modal onclick="showOrder()" onclick="confirmOrder()" -->
<button type="button"  class="order-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
</button>*@

<!-- Modal -->
<div class="modal fade  modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
               <P>Are you Sure</P>
            </div>
            <div class="modal-footer">
                <button  id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="confirm-delete-item"  type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="/js/ReservePlaystationRoom.js"></script>
    <script src="/js/Item.js"></script>*@
    <script src="/AdminDashboard/js/itemAdminDashboard.js"></script>


}
