 @using VAR.ViewModels;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int index = 1;
    Layout = "_AdimnLayout";
}
@model PaginationVM

<a class="btn btn-secondary" asp-action="AddItem" asp-controller="Item">Add New Item</a> 

<button id="filter-by-room" class="btn btn-secondary" >Room</button>
<button id="filter-by-admin" class="btn btn-secondary">Admin</button>
<div class="row">
    <label for="date" class="col-1 col-form-label">Date</label>
    <div class="col-5">
        <input type="date" class="form-control" id="date"/>      
    </div>
</div>

<label for="">Items</label>


<div class="row">
    <label for="select-room" class="col-1 col-form-label">Select Room</label>
    <div class="col-5">
        <select id="select-room" asp-items="ViewBag.playstationRooms" class="form-control">
        <option value="">Choose One</option>
        </select>
    </div>
</div>

<div class="row">
    <label for="select-admin" class="col-1 col-form-label">Select Room</label>
    <div class="col-5">
        <select id="select-admin" asp-items="ViewBag.admins" class="form-control">
            <option value="">Choose One</option>
        </select>
    </div>
</div>

@*<div class="row">
    <label for="room-name" class="col-1 col-form-label">Room</label>
    <div class="col-5">
        <input type="text" class="form-control" id="room-name"/> 
        <input type="text" class="form-control" id="room-name"/> 

    </div>
</div>

<div class="row">
<label for="admin-name" class="col-1 col-form-label">Admin</label>
<div class="col-5">
        <input type="text" class="form-control" id="admin-name" />
</div>
</div>*@

<button id="filter-by-date" class="btn btn-secondary">Apply Filter</button>

<table id="orders-table">
    <thead>
        <tr>
            <th>StartTime</th>
            <th>EndTime</th>
            <th>Admin Name</th>
            <th>Playstation Room</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                @if (item.StartTime != null)
                {
                     <td>@item.StartTime</td>
                }
                else
                {
                    <td>ـــــ</td>
                }
                @if (item.EndTime != null)
                {
                    <td>@item.EndTime</td>
                }
                else
                {
                    <td>ـــــ</td>
                }
               
                @if (item.Admin != null)
                {
                    <td>@item.Admin.Name</td>
                }
                else{
                    <td>ـــــ</td>

                }
                @if (item.Playstation != null)
                {
                    <td>@item.Playstation.RoomName</td>
                }
                else
                {
                    <td>ـــــ</td>
                }

                @if (item.StartTime != null && item.OrderItemDetails.Count == 0)
                {
                    <td>Just Gaming</td>
                }
                else if (item.StartTime != null && item.OrderItemDetails.Count != 0)
                {
                    <td>Gamin And Items</td>
                }
                else
                {
                     <td>Just Items</td>
                }

                <td><a class="btn btn-warning" asp-action="getOrderById" asp-controller="Order" asp-route-id="@item.Id">Details</a></td>
               @* <td>
                    <button type="button" class="order-btn btn  btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-rowid="@item.Id">
                    Delete
                    </button>
                </td>*@

            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-sm-12 col-md-7">
        <nav aria-label="...">
            <ul id="pagination-ul" class="pagination">
                <li id="pervious-li" class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                @for(int i =1 ; i<= Model.Page ; i++)
                {
                    <li class="page-item"><a class="page-link" href="#">@i</a></li>
                }
               @* <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item" aria-current="page">
                    <span class="page-link">2</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>*@
                <li id="next-li" class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

@*<!-- Button trigger modal onclick="showOrder()" onclick="confirmOrder()" -->
<button type="button"  class="order-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
</button>*@

<!-- Modal -->
<div class="modal fade  modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
               <P>Are you Sure</P>
            </div>
            <div class="modal-footer">
                <button  id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="confirm-delete-item"  type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="/js/ReservePlaystationRoom.js"></script>
    <script src="/js/Item.js"></script>*@
    <script src="/AdminDashboard/js/orderAdminDashboard.js"></script>


}
