 @using VAR.ViewModels;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int index = 1;
    Layout = "_AdimnLayout";
}
@model PaginationVM


<button id="all-orders" class="btn btn-secondary mb-3" >All Orders</button>
<div class="row  mb-3">
    <div class="col-5 d-flex">
        <label for="date-from" class="" style="padding-right: 7px;padding-top: 8px;">From</label>
        <input type="date" class="form-control" id="date-from" />
    </div>
 
    <div class="col-5 d-flex">
        <label for="date-to" class="" style="padding-right: 7px;padding-top: 8px;">To</label>
        <input type="date" class="form-control" id="date-to"/>      
    </div>
</div>

<div class="row  mb-3">
    <div class="col-5 d-flex">
        <label for="select-room" class="" style="padding-right: 5px; margin-top: 6px;">Room</label>
        <select id="select-room" asp-items="ViewBag.playstationRooms" class="form-control">
        <option value="">Choose One</option>
        </select>
    </div>
    <div class="col-5 d-flex">
        <label for="select-admin" class="" style="padding-right: 5px; margin-top: 6px;">Admin</label>
        <select id="select-admin" asp-items="ViewBag.admins" class="form-control">
            <option value="">Choose One</option>
        </select>
    </div>
</div>

<div class="row  mb-3">
    <button id="clear-filter" class="btn btn-secondary" style="margin-left: 58px;">Clear Filters</button>
    <button id="filter-by-date" class="btn btn-secondary" style="margin-left: 12px;">Apply Filters</button>
</div>


<div id="alert-div" class="alert alert-danger d-flex align-items-center" role="alert" style="display: none!important;">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
    <div>
        An example danger alert with an icon
    </div>
</div>

<table class="table table-secondary text-center" style="color: black;" id="orders-table">
    <thead>
        <tr>
            <th>StartTime</th>
            <th>EndTime</th>
            <th>Admin Name</th>
            <th>Playstation Room</th>
            <th>Description</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                @if (item.StartTime != null)
                {
                     <td>@item.StartTime</td>
                }
                else
                {
                    <td>ـــــ</td>
                }
                @if (item.EndTime != null)
                {
                    <td>@item.EndTime</td>
                }
                else
                {
                    <td>ـــــ</td>
                }
               
                @if (item.Admin != null)
                {
                    <td>@item.Admin.Name</td>
                }
                else{
                    <td>ـــــ</td>

                }
                @if (item.Playstation != null)
                {
                    <td>@item.Playstation.RoomName</td>
                }
                else
                {
                    <td>ـــــ</td>
                }

                @if (item.playstationID != null && item.OrderItemDetails.Count == 0)
                {
                    <td>Just Gaming</td>
                }
                else if (item.playstationID != null && item.OrderItemDetails.Count != 0)
                {
                    <td>Gamin And Items</td>
                }
                else
                {
                     <td>Just Items</td>
                }

                <td>@item.TotalPrice</td>

                <td><a class="btn btn-warning" asp-action="getOrderById" asp-controller="Order" asp-route-id="@item.Id">Details</a></td>        

            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-sm-12 col-md-7">
      All Orders Total Price = @Model.AllOrdersTotalPrice 
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-7">
        <nav aria-label="...">
            <ul id="pagination-ul" class="pagination">
                <li id="pervious-li" class="page-item disabled">
                    <a class="page-link" href="#">Previous</a>
                </li>
                @for(int i =1 ; i<= Model.Page ; i++)
                {
                    <li class="page-item"><a class="page-link" href="#">@i</a></li>
                }
           
                <li id="next-li" class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

@*<!-- Button trigger modal onclick="showOrder()" onclick="confirmOrder()" -->
<button type="button"  class="order-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
</button>*@

<!-- Modal -->
<div class="modal fade  modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
               <P>Are you Sure</P>
            </div>
            <div class="modal-footer">
                <button  id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="confirm-delete-item"  type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>


  @*Alert for Non Existing Orders Filter*@

  <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="check-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>



@section Scripts{
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="/js/ReservePlaystationRoom.js"></script>
    <script src="/js/Item.js"></script>*@
    <script src="/AdminDashboard/js/orderAdminDashboard.js"></script>


}
