@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_VarLayout";
}
@model Playstation

@section Styles{
 <link rel="stylesheet" href="~/css/roomReserve.css" />
}

    <h1 id="room-status"></h1>
    <table class="table table-dark" id="ps-room-table">
        <thead>
            <tr id="head-row" >
                <th>
                    @Html.DisplayNameFor(model => model.RoomName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Version)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SinglePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => Model.MultiPrice)
                </th>
            </tr>
        </thead>
        <tbody id="playstation-room-tbody">     
                <tr class="table-active">
                    <td>
                        @Html.DisplayFor(modelItem => Model.RoomName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Version)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => Model.SinglePrice)
                    </td>
                     <td>
                    @Html.DisplayFor(modelItem => Model.MultiPrice)
                    </td>
                </tr>
        </tbody>
    </table>


    <div class="row p-2 d-flex m-5 justify-content-around">
        <div class="col-2">
            <input type="radio" class="btn-check" name="options-outlined" id="open-time-radio" autocomplete="off" checked>
            <label class="btn btn-outline-success" for="open-time-radio">Open Time</label>
        </div>
        
        <div class="col-2">
            <input type="radio" class="btn-check" name="options-outlined" id="specific-time-radio" autocomplete="off">
            <label class="btn btn-outline-danger" for="specific-time-radio">Specific Time</label>
        </div>    
    </div>

    <div class="row d-none p-2 m-4" id="specific-time-div">
        <div class="input-group mb-3 col-6 col-s-12 w-50">
            <label for="specific-time-hour">Enter Number Of Hours</label>
            <input id="specific-time-hour" type="number" class="form-control " placeholder="">
        </div>
        <div class="input-group mb-3 col-6 w-50">
            <label for="specific-time-minutes">Enter Number Of Minutes</label>
            <input id="specific-time-minutes" type="number" class="form-control" placeholder="">
        </div>
    </div>

<div class="row justify-content-start mb-3 offset-md-5">
    <div class="col d-flex">
        <div class="form-check me-3">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="singleRadio" checked>
            <label class="form-check-label" for="singleRadio">
                Single
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="MultiRadio">
            <label class="form-check-label" for="MultiRadio">
                Multi
            </label>
        </div>
    </div>
    
</div>

<div class="row justify-content-around mb-4">
        <div class="col-8 timer">
            <span id="hour">00</span>:
            <span id="minute">00</span>:
            <span id="second">00</span>
        </div>       
</div>




<div id="start-and-stop-div" class="startAndStopDiv row justify-content-start" style="margin-left: 430px; /* baseline-shift: 2px; * /line-height: 21px;">
    <button class="start me-5 " id="startBtn"> <i class="fa-solid fa-play" style="color: #ffffff;"></i> START</button>
    <button class="stop" id="stopBtn"> <i class="fa-solid fa-stop" style="color: #ffffff;"></i> STOP</button>

    </div>
   
    <div class="item" id="item-div">
    <div><button class="btn btn-primary" id="add-item">Add Item</button></div>
    </div>
    <div class="row" id="display-items"></div>
    <div id="cart-items"></div>

    <partial name="_InvoiceModal" ></partial>

@section Scripts{
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script  src="/js/ReservePlaystationRoom.js"></script>
    <script src="/js/Item.js"></script>
    @*<script src="/js/Order.js"></script>*@


}